In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('C:\\Users\\canbe\\OneDrive\\Masaüstü\\codes\\glassdoorjob\\Uncleaned_DS_Jobs.csv')
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [8]:
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [9]:
df['Company Name'] = df['Company Name'].apply(lambda x: x.split('\n')[0] if '\n' in x else x)
df['Salary Estimate'] = df['Salary Estimate'].str.extract('(\d+K-\$?\d+K)').astype(str)

# Splitting the 'Salary Estimate' into two columns: 'Min Salary' and 'Max Salary'
salary_split = df['Salary Estimate'].str.split('-', n=1, expand=True)
df['Min Salary (K)'] = salary_split[0].str.extract('(\d+K)').replace('K','',regex=True).astype(float)
df['Max Salary (K)'] = salary_split[1].str.extract('(\d+K)').replace('K','',regex=True).astype(float)
# Dropping the original 'Salary Estimate' as it's redundant now
df.drop('Salary Estimate', axis=1, inplace=True)

df.head()

,index,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary (K),Max Salary (K)
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137.0,171.0
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137.0,171.0
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137.0,171.0
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137.0,171.0
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137.0,171.0

In [14]:
# Converting 'Founded' to a string since it's a year and we don't perform numerical operations on it
df['Founded'] = df['Founded'].astype(str)
df.dtypes

index                  int64
Job Title             object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded               object
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
Min Salary (K)       float64
Max Salary (K)       float64
dtype: object

In [25]:
# Function to extract state from the location column assuming the format is "City, State"
def extract_state(location):
    # Split the location by comma and take the second part as state if it exists
    parts = location.split(',')
    if len(parts) > 1 and len(parts[1].strip()) == 2:  # Check if it looks like a state abbreviation
        return parts[1].strip()
    return None  # Return None if no state abbreviation is found

# Apply the function to the location column to create a new state column
df['State'] = df['Location'].apply(extract_state)

# Check the first few entries of the new state column
df[['Location', 'State']].head()

        Location State
0   New York, NY    NY
1  Chantilly, VA    VA
2     Boston, MA    MA
3     Newton, MA    MA
4   New York, NY    NY

In [31]:
# Define keywords that might indicate remote work
remote_keywords = ['remote', 'work from home', 'work at home', 'virtual', 'telecommute', 'distributed team']

# Function to determine if job description mentions remote work
def indicates_remote_work(description):
    description = description.lower()  # Convert to lowercase for matching
    for keyword in remote_keywords:
        if keyword in description:
            return 1  # Indicate remote work is offered
    return 0  # Indicate remote work is not mentioned

# Apply the function to create a new binary column indicating remote work
df['Remote'] = df['Job Description'].apply(indicates_remote_work)

# Check how many job descriptions mention remote work
remote_work_count = df['Remote'].sum()
remote_work_count, df[['Job Description', 'Remote']].head()

(86,
                                      Job Description  Remote
 0  Description\n\nThe Senior Data Scientist is re...       0
 1  Secure our Nation, Ignite your Future\n\nJoin ...       0
 2  Overview\n\n\nAnalysis Group is one of the lar...       0
 3  JOB DESCRIPTION:\n\nDo you have a passion for ...       0
 4  Data Scientist\nAffinity Solutions / Marketing...       0)

In [39]:
# Convert the binary 'remote' feature to 'Yes'/'No'
df['Remote'] = df['Remote'].map({1: 'Yes', 0: 'No'})

# Check the updated 'remote' column
df[['Job Description', 'Remote']].head()

                                     Job Description Remote
0  Description\n\nThe Senior Data Scientist is re...    NaN
1  Secure our Nation, Ignite your Future\n\nJoin ...    NaN
2  Overview\n\n\nAnalysis Group is one of the lar...    NaN
3  JOB DESCRIPTION:\n\nDo you have a passion for ...    NaN
4  Data Scientist\nAffinity Solutions / Marketing...    NaN

In [40]:
# Define seniority level keywords
seniority_keywords = {
    'Senior': ['senior', 'sr', 'lead', 'principal', 'manager', 'director', 'head'],
    'Junior': ['junior', 'jr', 'associate', 'assistant', 'intern']
}

# Function to categorize job posting by seniority level based on job title
def categorize_seniority(job_title):
    job_title_lower = job_title.lower()
    for seniority, keywords in seniority_keywords.items():
        if any(keyword in job_title_lower for keyword in keywords):
            return seniority
    return 'Mid'  # Default category

# Apply the function to create a new 'seniority_level' feature
df['Seniority Level'] = df['Job Title'].apply(categorize_seniority)

# Check the distribution of the new 'seniority_level' feature
seniority_level_distribution = df['Seniority Level'].value_counts()
seniority_level_distribution, df[['Job Title', 'Seniority Level']].head()

(Seniority Level
 Mid       564
 Senior    101
 Junior      7
 Name: count, dtype: int64,
            Job Title Seniority Level
 0  Sr Data Scientist          Senior
 1     Data Scientist             Mid
 2     Data Scientist             Mid
 3     Data Scientist             Mid
 4     Data Scientist             Mid)

In [42]:
df.head()

,index,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Min Salary (K),Max Salary (K),State,Remote,Seniority Level
0,0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137.0,171.0,NY,NaN,Senior
1,1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137.0,171.0,VA,NaN,Mid
2,2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137.0,171.0,MA,NaN,Mid
3,3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137.0,171.0,MA,NaN,Mid
4,4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137.0,171.0,NY,NaN,Mid

In [44]:
df.to_csv('C:\\Users\\canbe\\OneDrive\\Masaüstü\\codes\\glassdoorjob\\cleaned.csv')